{% load staticfiles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static "js/js_functions.js"%}"></script>
<link rel="stylesheet" href="{% static "css/style.css"%}">

<script>
  $( document ).ready(function() {
    $('.button').button();
  })
</script>
<style>
  .button {background: white; width:300px; text-align:left;}
</style>
<div id="all">
<table>
<tr class="bold_word">
  <td>Make, Submodel</td>
  <td>Number of matches</td>
</tr>
{% for im in total_ims %}
  <tr>
    <td><a class="button" href="/streetview/streetview/results/{{im.make}}-{{im.submodel}}/{{username}}">{{im.make}} {{im.submodel}}</a></td>
    <td class="bold_word">{{im.make__count}}</td>
  </tr>
{% endfor %}
</table>
</div><!--all-->


